.hide-scroll-bar {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;  
  }

h1, p {
    font-family: "Quicksand Variable", sans-serif;
  }